/* custom colors */
$primary: #151f2b;
$primary-light: #253341;
$secondary: #edeff1;
$info: #1c90da;
$link: #0066cc;
$danger: #b00020;
$success: #008000;
$warning: #ffc107;
$gray: #8493a5;
$gray-light: #dadce0;
$gray-lightest: #f4f8fb;
$gray-dark: #606060;
$gray-darkest: #303030;
$white: #ffffff;
$white-darker: #fafafa;
$black: #212121;
$brand-light: #8ffbdb;

/* sets css variables, overriding any from Bootstrap */
$theme-colors: (
  'primary': $primary,
  'primary-light': $primary-light,
  'secondary': $secondary,
  'light': $white-darker,
  'dark': $gray-dark,
  'info': $info,
  'link': $link,
  'danger': $danger,
  'success': $success,
  'warning': $warning,
  'gray': $gray,
  'gray-light': $gray-light,
  'gray-lightest': $gray-lightest,
  'gray-dark': $gray-dark,
  'gray-darkest': $gray-darkest,
  'white': $white,
  'white-darker': $white-darker,
  'black': $black,
  'brand-light': $brand-light,
);

@import '~bootstrap/scss/bootstrap';
