/* custom colors */
$primary: #151f2b;
$primary-light: #253341;
$gray: #8493a5;
$gray-dark: #5f6a78;
$gray-light: #c3ddeb;
$gray-lighter: #edeff1;
$white-darker: #fafafa;
$white: #ffffff;
$black: #212121;
$black-light: #303030;
$brand: #68d7c1;
$brand-light: #8ffbdb;
$danger: #b00020;
$success: #008000;
$warning: #ffc107;
$info: #1c90da;
$link: #0066cc;

/* sets css variables, overriding any from Bootstrap */
$theme-colors: (
  'primary': $primary,
  'primary-light': $primary-light,
  'gray': $gray,
  'gray-dark': $gray-dark,
  'gray-light': $gray-light,
  'gray-lighter': $gray-lighter,
  'white-darker': $white-darker,
  'white': $white,
  'black': $black,
  'black-light': $black-light,
  'brand': $brand,
  'brand-light': $brand-light,
  'danger': $danger,
  'success': $success,
  'warning': $warning,
  'info': $info,
  'link': $link,
  'secondary': $gray-lighter,
  'light': $white-darker,
  'dark': $gray-dark,
);

@import '~bootstrap/scss/bootstrap';
