
/* COLOR */
$theme-colors: (
  "primary": #1A92DA,
  "dark": #15212B,
  "info": #63ffda,
  "danger": #B00020,
);

/* SPACING */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer*1),
  2: ($spacer*2),
  3: ($spacer*3),
  4: ($spacer*4),
  5: ($spacer*5),
  6: ($spacer*6),
  7: ($spacer*7),
  8: ($spacer*8),
);

/* set bootstrap changes */
@import "~bootstrap/scss/bootstrap";