@import 'theme';

html {
  font-size: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

body,
#root {
  height: 100%;
  color: var(--black);
  background-color: var(--gray-light);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif, Roboto, Ubuntu;
}

h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: 400;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
pre {
  font-size: 0.75rem;
}
label {
  font-size: 0.875rem;
}
a {
  color: var(--link);
}

.nav-pills .nav-link {
  &:active, &.active {
    background-color: var(--primary-light);
  }

  &:hover:not(.active) {
    color: var(--primary-light);
  }
}

.dropdown,
.dropup,
.dropleft,
.dropright {
  .dropdown-toggle::before, .dropdown-toggle::after {
    display: none;
  }

  .dropdown-item.active, .dropdown-item:active {
    color: var(--primary);
    background-color: initial;
  }
}

.popover {
  min-width: max-content;
}

.btn.disabled, button:disabled {
  cursor: not-allowed;
}

.input-group > .form-control {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

input, .form-control, .react-json-view {
  border: 1px solid var(--secondary);
  font-size: 16px !important;

  &:focus {
    box-shadow: none;
    border-color: var(--gray-dark);
  }
}

