@import 'bootstrap';

:root {
  --blue: #1a73e8;
  --light-blue: #e8f0fe;
  --dark: #182F42;
  --gray: #6c757d;
  --light: #f8f9fa;
  --lighter: #ececec;
  --white-50: #ffffff80;
  --danger: #b00020;
  --info: #64b5f6;
  --special: #63ffda;
}

html { font-size: 100%; }
@media screen and (max-width: 768px) { html { font-size: 15px; }}
@media screen and (max-width: 600px) { html { font-size: 13px; }}

body,
#root {
  height: 100%;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; font-weight: 400; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

.dropdown .dropdown-toggle::after {
  display: none;
}

.nav-link.active {
  svg {
    color: var(--info);
  }
}
